{{#if hasError}}
<div class="alert alert-danger">
	<strong>Captcha error!</strong> {{error}}
</div>
{{else}}
<div class="alert alert-danger">
	<strong>404!</strong> Please contact admin.
</div>
{{/if}}